.onefeedbackCriteria{
    font-size: 14px;
    width: 50%;
    margin: 150px 400px;
  }
  .mat-raised-button{

    margin: 10%;
  }
  .mat-form-field {

      width: 70%;
  }
 .mat-card {
    width: 64%;
  }
