<div class="NewUserForm">
  <div class="col-md-7">
    <form class="example-form">
      <mat-form-field class="email">
        <textarea matInput [(ngModel)]="user.email" placeholder="Email"name="email" ></textarea>
      </mat-form-field>

      <mat-form-field class="firstName">
      <textarea matInput [(ngModel)]="user.firstName" placeholder="First Name" name="firstName"></textarea>
    </mat-form-field>

      <mat-form-field class="lastName">
        <textarea matInput [(ngModel)]="user.lastName" placeholder="Last Name" name="lastName"></textarea>
      </mat-form-field>

      <mat-form-field class="password">
        <textarea matInput [(ngModel)]="user.password" placeholder="Password" name="password" ></textarea>
      </mat-form-field>

      <button class="Button" mat-fab (click)="createUser()">Register</button>

    </form>
  </div>
</div>




