<nav class="navbar navbar-dark bg-dark">
  <div class= "container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">uaTransport</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button"> Hit me <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Feedback Criteria</a> </li>
            <li><a href="#">Category</a> </li>
          </ul>
        </li>
      </ul>
    </div>
     </div>
</nav>

