<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>main.java.servlets.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetTaskServlet</servlet-name>
        <servlet-class>main.java.servlets.GetTaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTaskServlet</servlet-name>
        <url-pattern>/gettask</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Task1</servlet-name>
        <servlet-class>main.java.servlets.FibonacciServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Task1</servlet-name>
        <url-pattern>/task1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Task2</servlet-name>
        <servlet-class>main.java.servlets.ModificationFibonacciServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Task2</servlet-name>
        <url-pattern>/task2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Task7</servlet-name>
        <servlet-class>main.java.servlets.DistanceServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Task7</servlet-name>
        <url-pattern>/task7</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Task9</servlet-name>
        <servlet-class>main.java.servlets.LowHighEffortsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Task9</servlet-name>
        <url-pattern>/task9</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Task10</servlet-name>
        <servlet-class>main.java.servlets.PalindromServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Task10</servlet-name>
        <url-pattern>/task10</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Task11</servlet-name>
        <servlet-class>main.java.servlets.FirendPairsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Task11</servlet-name>
        <url-pattern>/task11</url-pattern>
    </servlet-mapping>



    <servlet>
    <servlet-name>Task12</servlet-name>
    <servlet-class>main.java.servlets.CounterServiceServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>Task12</servlet-name>
        <url-pattern>/task12</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Task14</servlet-name>
        <servlet-class>main.java.servlets.FenceServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Task14</servlet-name>
        <url-pattern>/task14</url-pattern>
    </servlet-mapping>

</web-app>