<div class="addfeedbackcriteria">
    <mat-form-field appearance="outline">
        <mat-select placeholder="Type" [(ngModel)]="feedbackCriteria.type" name="type">
            <mat-option *ngFor="let enumType of enumTypes" [value]="enumType">
              {{ enumType }}
            </mat-option>
          </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Weight</mat-label>
        <input matInput placeholder="weight" [(ngModel)]= "feedbackCriteria.weight" id="weight" name="weight">
      </mat-form-field>
      
      <button mat-raised-button (click)="openDialog()">Add Questions</button>
      <div class="questionadd" *ngIf="questions">
<!--      
          <div *ngFor="let question of questions">
      
         
              <p>{{question.name}}</p>
            
            </div>  -->
            <mat-list role="list" *ngFor="let question of questions">

                <mat-list-item role="listitem">{{question.name}}</mat-list-item>
            </mat-list>
            </div>
            <button mat-stroked-button (click) = "addFeedbackCriteria()" > SAVE </button>
      
  </div>
  