
.demo-grid-list {
  width: 1100px;
  margin: 100px auto;
}

.mat-card {
  margin: 16px 0;
}

p {
  margin: 16px;
}

.demo-basic-list .mat-grid-tile {
  background: rgba(0, 0, 0, 0.32);
  text-align: start;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

mat-tab-group {
  position: relative;
  right: 50px;
  width: 500px;
}

