<div class="search">
    <mat-card *ngIf="empty">I`m sorry but we can`t find information</mat-card>
    <button  mat-stroked-button (click)="gotBack()">Go back</button>

    <div class="transit" *ngIf="dataSource">
       <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
            <mat-cell *matCellDef="let transit"> {{transit.name}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="route">
              <mat-header-cell *matHeaderCellDef> Route</mat-header-cell>
              <mat-cell *matCellDef="let transit"> {{transit.stops[0].street }} - {{
                transit.stops[transit.stops.length-1].street }}
              </mat-cell>
            </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
      </div>
</div>