<div class="non">
  <!--link parameter 1 : {{top}}-->
  <!--<br/>-->
  <!--link parameter 2 : {{city}}-->

  <!--&lt;!&ndash;<div *ngFor="let category of list | async">&ndash;&gt;-->
  <!--<nav>-->
    <!--<a [routerLink]="['/category', category.nextLevelCategory.nextLevelCategory.name, category.nextLevelCategory.name,-->
      <!--category.id]">-->
      <!--<button mat-menu-item>{{category.name}}</button>-->
    <!--</a>-->
  <!--</nav>-->
  <!--</div>-->


  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Name</th>
      <th>Next level category</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of list | async" [routerLink]="['/category', category.nextLevelCategory.nextLevelCategory.name, category.nextLevelCategory.name,
      category.id]">
        <td class="hidden">{{category.id}}</td>
        <td>{{category.name}}</td>
        <td>{{category.nextLevelCategory.name}}</td>
        <td>
          <button class="btn btn-danger"> Delete Category</button>
        </td>
    </tr>
    </tbody>
  </table>
</div>
