<div class="form ">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>{{ 'FeedbackInfo' | translate}} {{transitName}}</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="addfeedback ">
    <div class="showFeedbacks" *ngFor="let feedback of feedbacks ">
      <div class="showQuestions" *ngFor="let question of feedback.questions">
        <div class="question">
          {{question}}
        </div>
      </div>
      <div *ngIf="feedback.type == 'RATING'">
        <mat-form-field class="answer">
          <input matInput type="text" min="0" max="10" placeholder="answer" [(ngModel)]="feedback.answer"/>
          <mat-hint align="end">0/ 10</mat-hint>
        </mat-form-field>
      </div>

      <div *ngIf="feedback.type == 'ACCEPTER'">
        <div class="radio">
          <label for="answer" *ngFor="let answer of checkBoxAnswers ">
            <input type="radio" [value]="answer" [(ngModel)]="feedback.answer">{{ answer | lowercase | translate }}
          </label>
        </div>
      </div>

    </div>
  </div>
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="saveAllFeedback()">{{ 'Save' | translate}}</button>
    <button mat-raised-button (click)="close()">{{ 'Close' | translate}}</button>
  </div>
</div>
