<div class="form ">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span  style="text-align: center">{{ 'FeedbackInfo' | translate}} № {{transitId}}</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="addfeedback ">

  <div class ="showFeedbacks" *ngFor="let feedback of feedbacks ">
      <div class ="showQuestions" *ngFor="let question of feedback.questions" >
          <div class ="question">
              {{question}}
            </div>
        </div>
        <mat-form-field class="answer">
          <input matInput type="text" placeholder="answer" [(ngModel)]="feedback.answer"/>
        </mat-form-field> 
        <button mat-raised-button color="primary" (click) = "save(feedback)">save</button>
  </div>
</div>
<button mat-raised-button color="primary" (click) = "saveAll(feedbacks)">{{ 'Save' | translate}} </button>
<button mat-raised-button (click)="close()">{{ 'Close' | translate}}</button>
</div>
