.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-elevation-z8 {
  width: 1000px;
  margin: 150px auto;
}

.AddTransit {
  width: 800px;
  margin: 150px auto;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}
