/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.transit {
  position: absolute;
  z-index: 16;
  top: 30%;
  left: 30%;
  height: 300px;
  width: 300px;
}
.mat-elevation-z8{
  width: 500px;
}
