<div class="demo-grid-list">
      <mat-grid-list *ngIf="stopArray.length" [cols]="stopArray.length" rowHeight="100px" class="grid-list">
        <mat-grid-tile class="mat-grid-tile-class"
          *ngFor="let i=index; let tile of stopArray" class="tile" >
          <label [for]="tile.id"><div>{{tile.street}}</div>
            <input type="checkbox" [(ngModel)]="checkedItems[i]" [id]="tile.id" (change)='selectStops()'>
            <img src="../../../assets/img/list.jpg">
          </label>
        </mat-grid-tile>
      </mat-grid-list>
    <!--<app-average-rate [id]="idTransit"></app-average-rate>-->
  <!--<app-raiting-diagram [id]="idTransit"></app-raiting-diagram>-->
  <app-busy-stops-diagram [id]="idTransit" [stopList]="selectedStops"></app-busy-stops-diagram>
  <app-busy-hours-diagram [id]="idTransit"></app-busy-hours-diagram>
</div>

<app-back-to-previous-page-btn></app-back-to-previous-page-btn>





<div class="demo-grid-list">
  <button mat-raised-button color="primary" (click)="openModal()">{{ 'Feedback' | translate}}</button>
  <p style="text-align: center">{{"Route" | translate}}</p>
  <mat-grid-list cols="7" rowHeight="50px">
    <mat-grid-tile
      *ngFor="let i=index; let tile of stopsList | async">
      <input type="checkbox" [(ngModel)]="checkedItems[i]" [id]="tile.id" [name]="tile" [value]="tile.street"
             aria-labelledby="ariaid"
             (change)='selectStops()'>
      <div><label id="ariaid">{{tile.street}}</label></div>
    </mat-grid-tile>
  </mat-grid-list>

  <app-average-rate [id]="idTransit"></app-average-rate>
  <app-raiting-diagram [id]="idTransit"></app-raiting-diagram>
  <app-busy-stops-diagram [id]="idTransit"></app-busy-stops-diagram>
  <app-busy-hours-diagram [id]="idTransit"></app-busy-hours-diagram>
</div>
<app-back-to-previous-page-btn></app-back-to-previous-page-btn>
