.demo-grid-list {
  position: relative;
  top: 50px;
  width: auto;
  margin: 100px 100px;
}

.mat-card {
  margin: 16px 0;
}

p {
  margin: 16px;
}

.demo-basic-list .mat-grid-tile {
  background: rgba(0, 0, 0, 0.32);
  text-align: center;

}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

mat-tab-group {
  position: relative;

  width: 550px;
  height: auto;
}

.tile{
  text-align:center;
  font-size: 14px;

}

.grid-list {
  min-width: 900px;
}

