<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Friend pairs</h2>
    <p>Given n friends, each one can remain single or can be paired up with some other friend.
        Find out the total number of ways in which friends can remain single or can be paired up. </p>
    <form method="GET" class="form-inline" action="/calculate">
        <div class="form-group">
            <label for="usr">Number of friends:</label>
            <input type="text" class="form-control" id="usr" name="firstNumber" >
            <input type="hidden" class="form-control"  name="tasklabel" value="1">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

</body>
</html>
