<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Interesting row</h2>
    <p>To find which is the member of position n in Interesting row in the number of element </p>
    <form method="GET" class="form-inline" action="/calculate">
        <div class="form-group">
            <label for="usr">Number of the element:</label>
            <input type="text" class="form-control" id="usr" name="firstNumber" >
            <input type="hidden" class="form-control" id="usr" name="tasklabel" value="3">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
        <a href="../index.html"><button type="button" class="btn">Back</button></a>
    </form>
</div>

</body>
</html>