<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Longest subsequence with difference one</h2>
    <p>To find how many numbers we have with difference one in the maximum sub sequence </p>
    <form method="GET" class="form-inline" action="/calculate">
        <div class="form-group">
            <label for="usr">Input: Sequence with integer numbers (Example: 1 2 3 4 5) </label>
            <input type="text" class="form-control" id="usr" name="firstNumber" >
            <input type="hidden" class="form-control" id="usr" name="tasklabel" value="4">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
        <a href="../index.html"><button type="button" class="btn">Back</button></a>
    </form>
</div>

</body>
</html>