<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Paths without crossing</h2>
    <p>Program to count number of ways to connect n (where n is even)
        points on a circle such that no two connecting lines cross each other and every point
        is connected with one other point. </p>
    <form method="GET" class="form-inline" action="/calculate">
        <div class="form-group">
            <label for="usr">Number of the points:</label>
            <input type="text" class="form-control" id="usr" name="firstNumber">
            <input type="hidden" class="form-control" name="tasklabel" value="8">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
        <a href="../index.html"><button type="button" class="btn">Back</button></a>
    </form>
</div>

</body>
</html>