<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Ways to tile the floor</h2>
    <p>Given a floor of size n x m and tiles of size 1 x m.
        The problem is to count the number of ways to tile the given floor using 1 x m tiles.
        A tile can either be placed horizontally or vertically.</p>
    <form method="GET" class="form-inline" action="/calculate">
        <div class="form-group">
            <label for="usr">Enter value of the n:</label>
            <input type="text" class="form-control" id="usr" name="firstNumber" >
            <label for="usr">Enter value of the m:</label>
            <input type="text" class="form-control" id="usr" name="secondNumber" >
            <input type="hidden" class="form-control" id="usr" name="tasklabel" value="13">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

</body>
</html>
