<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Ways to sum to N using array elements with repetition</h2>
    <p>To find how many ways we have to represent one number with a given array of numbers.</p>
    <form method="GET" class="form-inline" action="/calculate">
        <div class="form-group">
            <label for="usr">The the array separating elements by ",":</label>
            <input type="text" class="form-control"  name="firstNumber" >
            <label for="usr">the number which has to be represented:</label>
            <input type="text" class="form-control" id="usr" name="secondNumber" >
            <input type="hidden" class="form-control" name="tasklabel" value="5">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
        <a href="../index.html"><button type="button" class="btn">Back</button></a>
    </form>
</div>

</body>
</html>
