<div class="row">
  <div class="col-md-7">
    <form>
      <div class="row form-group">
        <label for="question"> Question</label>
        <input type="text" id="question" class="form-control">
      </div>
      <div class="row form-group">
        <label for="groupId"> GroupId</label>
        <input type="text" id="groupId" class="form-control">
      </div>
      <div class="row form-group">
        <label for="type"> Type</label>
        <input type="text" id="type" class="form-control">
      </div>
      <div class="row">
        <button class="btn btn-success" type="submit">Add</button>
      </div>
    </form>
  </div>
</div>
