<div *ngIf= "question" class="onequestion">
    
    <!-- <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let question"> {{question.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="groupId">
      <mat-header-cell *matHeaderCellDef> GroupId </mat-header-cell>
      <mat-cell *matCellDef="let question"> {{question.groupId}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let question"> {{ question.name }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
  <!-- {{question.id}}
  {{question.groupId}}
  {{question.name}} -->

      <mat-form-field appearance="standard">
          <mat-label>{{question.groupId}}</mat-label>
          <input matInput placeholder="groupId" [(ngModel)]="question.groupId">
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>{{question.name}}</mat-label>
          <input matInput placeholder="name" [(ngModel)]="question.name" >
        </mat-form-field>
        <button mat-raised-button (click) = "updateQuestion()"> Update </button>
        <button mat-stroked-button (click) = "deleteQuestion(question.id)" > DELETE </button>
</div>