
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span  style="text-align: center">{{ 'FeedbackInfo' | translate}} № {{transitId}}</span>
  
    <!-- <button mat-raised-button color="primary" (click) = "saveAll()">Save All </button> -->
    <button mat-raised-button (click)="close()">{{ 'Close' | translate}}</button>
   
  </mat-toolbar-row>
</mat-toolbar>
<div mat-dialog-actions>
<div class="addfeedback">
  <div class ="showFeedbacks" *ngFor="let feedback of feedbacks" >
      <div class ="showQuestions" *ngFor="let question of feedback.questions" >
          <div class ="question">
              {{question}}
            </div>
        </div>

    <!-- <div class ="userId">
      {{feedback.userId}}
    </div>
    <div class ="transitId">
      {{feedback.transitId}}
    </div>
    <div class ="criteriaId">
      {{feedback.criteriaId}}
    </div> -->
        
    
  </div>
</div>
</div>