<div class="addfeedback">
  <div class="col-md-7">
    <form class="example-form">
 <h1> Transit № {{transitId}} </h1>
 <mat-form-field class="answer">
  <textarea matInput [(ngModel)]="feedback.answer" placeholder="answer" name="answer"></textarea>
</mat-form-field>
<!-- 
<mat-form-field appearance="standard">
  <mat-label>{{feedback.answer}}</mat-label>
  <input matInput placeholder="answer" [(ngModel)]="feedback.answer">
</mat-form-field> -->
<button mat-raised-button (click) = "save()">Save </button>
<button mat-raised-button (click)="close()">Close</button>
</form>
</div>
</div> 
  

