.slides{
  width: 800px;
  height: 600px;
  margin: 160px auto;
}
.pictures{
  width: 800px;
  height: 400px;
  box-shadow: 0px 0px 30px 0px rgba(36,77,201,1);
}
.sometext{
  width: 800px;
  height: 120px;
  text-align: center;
  color: black;
  font-weight: normal;
  font-size: 20px;
}
