<div class="feedbackCriteria">
    <button  mat-stroked-button a routerLink="./add-feedback-criteria">Add new</button>
    <mat-form-field>
        <input matInput (keyup)="search($event.target.value)" placeholder="Filter">
        </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let feedbackCriteria" a routerLink="./{{feedbackCriteria.id}}"> {{feedbackCriteria.type}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="questions">
        <mat-header-cell *matHeaderCellDef> Questions </mat-header-cell>
         <mat-cell *matCellDef="let feedbackCriteria"> 
            <mat-list role="list" *ngFor="let questions of feedbackCriteria.questions ">
                <mat-list-item role="listitem">{{questions.name}}</mat-list-item>
                <mat-list-item role="listitem">{{questions.weight}}</mat-list-item>
            </mat-list>
        </mat-cell>      
      </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
  <mat-paginator [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons></mat-paginator>  
</div>

 

