
.mat-form-field {
  font-size: 14px;
  width: 400px;
  margin: 100px 400px;
}

.feedbackForm {
  width: 800px;
  margin: 100px auto;
}
.feedbackCriteria input{
  margin: auto 400px;
}
.input:invalid ~ span:after {
  content: '✖';

}

.input:valid ~ span:after {
  content: '✓';
}





