
.mat-toolbar {
  position: absolute;
  left: 100px;
  top: 0;
  height: 100px;
  background-color: white;
  box-shadow: 1px 5px 6px 2px rgba(217, 214, 217, 1);
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.ua {
  margin: 20px 15px 20px 100px;
  font-size: 30px;
  font-weight: bold;
  font-family: Tahoma;
  color: #000000;

}

.transport {
  margin: 20px 50px 20px 0px;
  font-size: 28px;
  font-weight: normal;
  font-family: Tahoma;
  color: black;
}

.criteriaButton {
  position: relative;
  left: 550px;
}

.NewUser {
  position: relative;
  left: 600px;
}

.container {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100px;
}

.lang {
  margin: 0 0 0 8px;
}

.Search{  
  
  position: relative;
  left: 400px;
  font-size: 10.5px;
  font-family: sans-serif;
  color: darkgray;
  font-weight: bold;
  padding-bottom: 2px;
}
input{
font-size: 14px;
line-height: 29px;
letter-spacing: .3px;
font-weight: 400;
color: #333;
    border: 1px solid  rgb(168, 166, 170);
    border-radius: 100px;
    background-color: #ffffff;
    padding: 9px 16px;
    margin: 1px 0 0 8px;
    width: 180px;
    height: 100%;
    /* -webkit-appearance: none; */
}
:focus {
  outline: -webkit-focus-ring-color auto 0;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0;
}




