
.mat-toolbar {
  position: absolute;
  left: 100px;
  top: 0;
  height: 100px;
  background-color: white;
  box-shadow: 1px 5px 6px 2px rgba(217, 214, 217, 1);
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.ua {
  margin: 20px 15px 20px 100px;
  font-size: 30px;
  font-weight: bold;
  font-family: Tahoma;
  color: #000000;

}

.transport {
  margin: 20px 50px 20px 0px;
  font-size: 28px;
  font-weight: normal;
  font-family: Tahoma;
  color: black;
}

.criteriaButton {
  position: relative;
  left: 400px;
}

.NewUser {
  position: relative;
  left: 500px;
}
.LoginUser {
  position: relative;
  left: 650px;
}

.container {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100px;
}

.lang {
  margin: 0 0 0 8px;
}





