<mat-toolbar class="mat-toolbar">
  <div class="ua"><a [routerLink]="['/main']" [ngStyle]="{'color' : 'black'}">UA</a></div>
  <div class="transport"><a [routerLink]="['/main']" [ngStyle]="{'color' : 'black'}">Transport</a></div>
  <div class="criteriaButton">
    <a [routerLink]="['/feedback']">
      <button mat-stroked-button type="submit">Feedback Criterias</button> </a>
  </div>
  <div class="NewUser">
    <a [routerLink]="['/user/add']">
      <button mat-stroked-button type="submit">New User</button> </a>
  </div>
</mat-toolbar>
