body {
    margin: 0;
}

#head {
    background-image: url("/res/bg.jpg");
    background-repeat: repeat-x;
    margin: 0;
    height: 352px;
    width: auto;
}

#picture {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 352px;
    background-image: url("/res/header.jpg");
    background-size: cover;
}

#form {
    display: block;
    width: 300px;
    height: 150px;
    position: absolute;
    left: 620px;
    top: 80px;

}

#text {
    color: white;
    display: inline-block;
    white-space: nowrap;
    font-size: 30px;
    font-weight: normal;
    font-family: Arial;
    text-align: left;
}

#selector {
    margin: 20px;
}

#selector select {
    width: 80px;
    height: 25px;
    background-color: azure;
    border: none;
}

#selector input {
    width: 80px;
    height: 25px;
    background-color: azure;
    border: none;
}

#description {
    width: 1000px;
    height: 150px;
    margin: 0 auto;
    color: black;
    font-family: Arial;
    text-align: center;
}

#task {
    width: 1000px;
    height: 250px;
    margin: 0 auto;
    color: black;
    font-family: Arial;
}

#task input {
    display: inline-block;
    width: 120px;
    height: 25px;
    background-color: azure;
    border: 1px silver solid;
    margin: 3px;
}

#task #button {
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: azure;
    border: 1px silver solid;
    margin: 3px;
}

#result {
    width: 1000px;
    height: 250px;
    margin: 0 auto;
    color: black;
    font-family: Arial;
}